<div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4 login-form-background">
        <h3 class="text-center">Login</h3>
        <form ng-submit="loginCtrl.login(user)" id="loginForm">

            <fieldset>
                <!--<div class="form-group">       
                    <div ng-show="error">
                            <div class="alert alert-danger" role="alert">
                                <strong ng-bind="error"></strong>
                            </div>                        
                    </div>
                </div>                    -->

                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">
                         <i class=" glyphicon glyphicon-user"></i>
                    </span>
                        <input type="text" placeholder="Username" ng-model="loginCtrl.user.username" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">
                        <i class=" glyphicon glyphicon-asterisk"></i>
                    </span>
                        <input type="password" placeholder="Password" ng-model="loginCtrl.user.password" class="form-control">
                    </div>
                </div>


                <div class="text-center form-group">
                    <button type="submit" class="btn btn-success btn-lg btn-block">Sign in</button>
                </div>




                <div class="alert alert-danger text-center form-group" role="alert" ng-show="loginCtrl.errorMessage">Incorrect Name or Password</div>

            </fieldset>
        </form>

    </div>
</div>